body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("./2.jpg");

  position: fixed;
  min-width: 100%;
  min-height: 100%;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  font-family: "Trebuchet MS";
  text-decoration: underline;
  text-underline-position: under;
  font-size: 90px;
  height: 100px;
  line-height: 100px;
  text-align: center; 
  padding-top: 15%;
  color: white;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.6); 
}

.center_2 {
  font-family: "Trebuchet MS";
  font-size: 69px;
  text-align: center; 
  padding-top: 1%;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.6); 
}

.center_3 {
  font-family: "Viner Hand ITC";
  font-size: 68px;
  text-align: center; 
  color: white;
  text-shadow: 5px 8px rgba(0, 0, 0, 0.6); 
}